<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Add User</title>
</head>
<body>
<form th:action="${/user}" method="post">
    <label>Username:</label><br>
    <input type="text" id="username" name="username" th:value="${user.username}"><br>

    <label>Email:</label><br>
    <input type="text" id="email" name="email" th:value="${user.email}"><br>

    <label>Password:</label><br>
    <input type="password" id="password" name="password" th:value="${user.password}"><br>

    <label for="verifyPassword">Verify Password:</label><br>
    <input type="password" id="verifyPassword" name="verifyPassword"><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>